# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Large astronomical datasets
data/
*.csv
*.fits
*.fit
*.parquet
*.h5
*.hdf5

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db